body {
    background-color: rgb(229, 223, 223);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 72px;    
    max-width: 100dvw; /*100% of viewport width*/
}

img{
    width: 100%;
}

.small {
    width: 150px;
}

p {

}