

header{
   
  a{
      font-size: 90px;
      max-width: 100dvw; /*100% of viewport width*/;
       font-family:Gardenia ExtraBold;
       color:white;
  }
}
h1{
    font-family:Gardenia ExtraBold;
    color:white;
    margin-bottom: 4px;
}

/* Style the links inside the navigation bar */
:root{
  --orange:#946050;
}

{
width:100vw;
background-color:#ac2626;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:black;
  color: white;
}

.topnav a::after{
  content:'';
  position:absolute;
  display:block;
  height:0.4em;
  width:100%;
  background-color: var(--orange);
  bottom: -1em;
}


body{
  height: 100vw;
    background-color: #000000;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: 'Gardenia ExtraBold', Times, serif;
    font-size: 15px;    
    max-width: 100dvw; /*100% of viewport width*/
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

img{
    max-width: 100%;
    transition: filter 0.5s;
    cursor: pointer;
}
img:not(.fullscreen):hover{
  filter:brightness(0.7);
}
img.fullscreen{
  position:fixed;
  top:50vh;
  left:50vw;
  width:80%;
  translate:-50% -50%;
  z-index:2;
}
main{
  margin-top: 30px;
}

.dummy-bg.fullscreen{
  background-color:white;
  width:100vw;
  height:100vh;
  position:fixed;
  top:0px;
  left:0px;
  z-index:1;
}